body
{
	background-color: green; 
	font-family: Verdana;
	font-size: 20px;
	color: black;
}

h1
{
	font-size: 48px;
	color: yellow !important;
}

/* Nieodwiedzony link */
a:link
{
	color: yellow;
}

/* Odwiedzony link */
a:visited
{
	color:yellow;
}

/* Link po najechaniu kursorem */
a:hover
{
	color: red;
}